<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Vibrante.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Vibrante.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Vibrante.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <applicationSettings>
        <Vibrante.Properties.Settings>
            <setting name="SoundCompositer_DotSize" serializeAs="String">
                <value>10</value>
            </setting>
        </Vibrante.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <Vibrante.Settings>
            <setting name="VerticalPanningMouseWheelSensi" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="HorizontalPanningMouseWheelSensi" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="TimelineMsPerPixel" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="TimelinePixelPerGrad" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="PitchScaleHzPerPixel" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="PitchScalePixelPerGrad" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="VolumeScalePercentPerPixel" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="VolumeScalePixelPerGrad" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="PanningScalePercentPerPixel" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="PanningScalePixelPerGrad" serializeAs="String">
                <value>20</value>
            </setting>
        </Vibrante.Settings>
        <Vibrante.Settings1>
            <setting name="test" serializeAs="String">
                <value>5</value>
            </setting>
        </Vibrante.Settings1>
    </userSettings>
</configuration>